name: Manual Vapor Usage Workflow

on:
  workflow_dispatch:

jobs:
  run-vapor-usage:
    name: Process ${{ matrix.repo.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # 여기에 사용자가 나중에 실제 저장소 목록을 입력하면 됩니다.
        # sharding/분산 처리를 위해 matrix 전략을 사용합니다.
        repo:
          - {
              name: "gem-site",
              repository: "goorm-dev/gem-site",
              branch: "main",
              entries: "apps/form/src/Pages/**/*Page.tsx",
            }
          - {
              name: "new-edu",
              repository: "goorm-dev/new-edu",
              branch: "develop",
              entries: "apps/web/src/domains/**/*/*.routes.tsx",
            }

    steps:
      - name: Checkout Workflow Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install Dependencies
        shell: bash
        run: pnpm i --frozen-lockfile

      - name: Checkout Target Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ matrix.repo.repository }}
          path: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.branch }}

      - name: Run Vapor Usage
        # 패키지 설치 후 vapor usage 명령어 실행
        # path는 입력받은 값을 사용하고, repo 이름은 matrix에서 가져옵니다.
        run: |
          pwd

          npx vapor usage ${{ matrix.repo.name }}/${{ matrix.repo.entries }} --repo ${{ matrix.repo.name }}
        env:
          SPREAD_SHEET_ID: ${{ secrets.SPREAD_SHEET_ID }}
          CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
