name: Manual Vapor Usage Workflow

on:
  workflow_dispatch:

jobs:
  run-vapor-usage:
    name: Analyze (${{ matrix.repo.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repo:
          - {
              name: "gem-site",
              repository: "goorm-dev/gem-site",
              branch: "main",
              entries: "apps/form/src/Pages/**/*Page.tsx",
            }
          - {
              name: "new-edu",
              repository: "goorm-dev/new-edu",
              # main 브랜치에 아직 머지되지 않아서 임시로 develop 브랜치로 설정
              branch: "develop",
              entries: "apps/web/src/domains/**/*/*.routes.tsx",
            }
          - {
              name: "exp",
              repository: "goorm-dev/goorm-exp-site",
              branch: "master",
              entries: "src/pages/**/index.{tsx,jsx}",
            }
          - {
              name: "ide-site",
              repository: "goorm-dev/ide-site",
              branch: "master",
              entries: "src/client/pages/**/*Page.{jsx,tsx}",
            }
            # arkain-studio 추가하기

    steps:
      - name: Checkout Workflow Repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install Dependencies
        shell: bash
        run: pnpm i --frozen-lockfile

      - name: Checkout Target Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ matrix.repo.repository }}
          path: ${{ matrix.repo.name }}
          ref: ${{ matrix.repo.branch }}

      - name: Run Vapor Usage
        # 패키지 설치 후 vapor usage 명령어 실행
        # path는 입력받은 값을 사용하고, repo 이름은 matrix에서 가져옵니다.
        working-directory: ${{ matrix.repo.name }}
        run: |
          npx vapor usage "${{ matrix.repo.entries }}" --repo ${{ matrix.repo.name }}
        env:
          SPREAD_SHEET_ID: ${{ secrets.SPREAD_SHEET_ID }}
          CLIENT_EMAIL: ${{ secrets.CLIENT_EMAIL }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
